.main__btn{
  border: none;
  margin-bottom: 1rem;
  padding: 0.9rem;
  outline: none;
  color: $primary-color;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0,0,0,.45);

  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: '';
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }

  &:before {
    filter: blur(7px);
    transition: all .25s ease;
    animation: pulse 10s infinite ease;
  }

  &:after {
    filter: blur(0.3px);
  }

  &:hover {
    &:before {
      width: 115%;
      height: 115%;
    }
  }
}
