.additional{
  text-align: center;
  font-family: $primary-font;

  .account__repo{
    color: $secondary-color;
    margin: 3rem 0 1rem 0;
  }

  .repo__items{
    font-family: $secondary-font;
    background: rgb(114, 70, 70);
    padding: 1rem 0;
    margin: 1rem 0 0;
    border-radius: 10px;
  }

  .repo__btn{
    color: $secondary-color;
    font-family: $primary-font;
    display: inline-block;
    font-size: 1rem;
    transition: color 1s, text-decoration 1s, transform 1s;

    &:hover{
      color: $primary-color;
      text-decoration: none;
      -webkit-transform: rotateZ(5deg);
      -moz-transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -o-transform: rotateZ(5deg);
      transform: rotateZ(5deg);
    }
  }

  .account__followers{
    color: $secondary-color;
    margin: 3rem 0 1rem 0;
  }

  .account__following{
    color:  $secondary-color;
    margin: 3rem 0 1rem 0;
  }

  .follow__items{
    margin-top: 20px;
    background: rgb(114, 70, 70);
    padding: 1rem;
    border-radius: 10px;
  }

  .follow__header{
    font-family: $secondary-font;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .follow__img{
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
  }

  .follow__btn{
    color: $secondary-color;
  }
}

