.header{
  background: $bg;
  color: $primary-color;
  font-family: $primary-font;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header__text{
  margin: 0;
}

.header__logo{
  fill: $primary-color;
}
