.header{
  background: $bg;
  color: $primary-color;
  font-family: $primary-font;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;

  &__text{
    margin: 0;
  }

  &__logo{
    fill: $primary-color;
  }
}


