.account{
  font-family: $secondary-font;
  margin: 1rem;
  padding: 1rem;
  color: $primary-color;
  background: $bg;
  font-size: 1rem;

  .search{
    text-align: center;
    margin-bottom: 1rem;
  }

  .search__input{
    outline: none;
    padding: 0.3rem;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  .search__btn{
    outline: none;
    padding: 0.3rem;
    border: none;
    color: $primary-color;
    background: $secondary-color;
    border-radius: 0 5px 5px 0;
  }

  // profile link
  &__link{
    text-align: center;
  }

  &__url{
    text-decoration: none;
    color: $primary-color;
    font-size: 2.5vw;
  }

  &__avatar-highlighted{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
  }

  &__details{
    display: flex;
    padding: 1em 0;
    font-size: 4vw;
  }

  &__info{
    letter-spacing: 2px;
  }

  &__info--highlighted{
    padding-left: 3em;
    color: rgb(11, 16, 43);
    font-weight: 700;
  }
}
