@media(min-width: 1024px){
  .header__logo{
    height: 100px;
    width: 100px;
  }

  .account{
    padding: 5rem;
  }

  .additional{

    .account__shared{
      font-size: 1.5rem;
    }

    .shared__container{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media(min-width: 1600px){
  .account{
    padding: 7rem;
  }

  .additional{
    .shared__container{
      grid-template-columns: repeat(5, 1fr);
      column-gap: 40px;
      row-gap: 40px;
    }
  }
}

