.header{
  font-size: 2vw;
}

@media(min-width: 640px){
  .header__text{
    font-size: 3vw;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  .account{
    padding: 100px 2rem 2rem 2rem;

    .search__bar{
      margin-bottom: 2rem;
    }

    .search__input{
      padding: 1rem 1rem 1rem 2rem;
      width: 300px;
      font-size: 20px;
    }

    .search__btn{
      padding: 1rem;
      font-size: 20px;
    }

    &__details{
      font-size: 2vw;
    }

    &__url{
      font-size: 1.5vw;
    }
  }

  .additional{
    text-align: left;

    .shared__container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      text-align: center;
    }
  }
}
