<main class="account">
  <article class="search">
    <input #box class="search__input" value="gikkk" (keyup.enter)="update(box.value)">
    <button class="search__btn" (click)="update(box.value)">Search</button>
  </article>
  <article class="container">
    <section class="account__link">
      <a href="" class="account__url" target="_blanck">
        <div class="account__avatar">
          <!-- avatar img -->
        </div>
        Click on photo to see github profile
      </a>
    </section>
    <section class="account__details">
      <section class="account__info">
        <p class="account__type">Account type:</p>
        <p class="account__login">Username:</p>
        <p class="account__username">Name:</p>
        <p class="account__location">Location:</p>
        <p class="account__created">Creation time:</p>
        <p class="account__updated">Last update:</p>
      </section>
      <section class="account__info--highlighted">
        <p class="account__type--highlighted"></p>
        <p class="account__login--highlighted"></p>
        <p class="account__username--highlighted"></p>
        <p class="account__location--highlighted"></p>
        <p class="account__created--highlighted"></p>
        <p class="account__updated--highlighted"></p>
      </section>
    </section>
  </article>
  <app-additional></app-additional>
</main>
