<article class="additional">
  <section>
    <p class="account__shared">Repositories: <span>{{repoAmount}}</span></p>
    <button (click)="getRepo()" [disabled] = 'repoBtn' class="main__btn">SHOW MORE</button>
    <section class="shared__container" #repoContainer >
      <!-- repo list -->
    </section>
  </section>
  <section>
    <p class="account__shared">Followers: <span>{{followersAmount}}</span></p>
    <button (click)='getFollowers()' [disabled] = 'followersBtn' class="main__btn">SHOW MORE</button>
    <section class="shared__container" #followersContainer>
      <!-- followers list here -->
    </section>
  </section>
  <section>
    <p class="account__shared">Following: <span>{{followingAmount}}</span></p>
    <button (click)='getFollowing()' [disabled] = 'followingBtn' class="main__btn">SHOW MORE</button>
    <section class="shared__container" #followingContainer>
      <!-- followers list here -->
    </section>
  </section>
</article>

