<section class="additional">
  <section>
    <h2 class="account__shared">Repositories: <span>{{repoAmount}}</span></h2>
    <button (click)="getRepo()" [disabled] = 'repoBtn' class="main__btn">SHOW MORE</button>
    <div class="shared__container" #repoContainer >
      <!-- repo list -->
    </div>
  </section>
  <section>
    <h2 class="account__shared">Followers: <span>{{followersAmount}}</span></h2>
    <button (click)='getFollowers()' [disabled] = 'followersBtn' class="main__btn">SHOW MORE</button>
    <div class="shared__container" #followersContainer>
      <!-- followers list here -->
    </div>
  </section>
  <section>
    <h2 class="account__shared">Following: <span>{{followingAmount}}</span></h2>
    <button (click)='getFollowing()' [disabled] = 'followingBtn' class="main__btn">SHOW MORE</button>
    <div class="shared__container" #followingContainer>
      <!-- followers list here -->
    </div>
  </section>
</section>

